/*--------------Geral---------------*/
*{
	padding: 0;
	margin: 0;
	font-family: 'josefin Sans', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

/*--------------cabecalho-----------------*/
.cabecalho{
	background: linear-gradient(#FFFFFF, #D7E1EC)
	;
}

.cabecalho-imagem {
	height: 50px;
}

.cabecalho-principal{
	border-top: 0.4px;
	height: 20vh;
	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: #8d0606;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #ce0243;
	transition: .4s;
}

.btn{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 30px 35px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);

}

/*----------------principal*---------*/
.principal {
	height: 80vh;
	border-top: 0.4px transparent #000;	
	background: linear-gradient(#FFFFFF, #D7E1EC);
}

.content{
	padding-top: 15px;
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
.content h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 130px;
    text-align: center;
    padding-top: 60px;
	position: relative;
	left: 10%;

}

.sub {
	color: black;
	font-size: 70px;
    text-align: center;
    padding-bottom: 75px;
	position: relative;
	left: 10%;

}

.content h3{
	color: black;
	font-size: 40px;
    text-align: center;
    padding-bottom: 75px;
	position: relative;
	left: 10%;
}

.wpp {
	color: #25D366;
	font-weight: 400;
	font-size: 40px;
    text-align: center;
    padding-bottom: 15;
}

span {
    color: #000;
}
h4{
	color: black;
	letter-spacing: 2px;
	font-size: 20px;
    text-align: center;
}


.btn2{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 30px 120px;
	border-radius: 30px;
	transition: transform .4s;
	position: relative;
	left: 45%;

	
}
.btn2:hover{
	transform: scale(1.2);

}



.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#25D366;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

/*-------- saber mais----------*/
.saber {
	border-bottom: 0,5px solid transparent;
}

.conheca__melhor{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	
}
.conheca__melhor p{
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 25px;
}
.conheca__melhor .button-two{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 5px solid transparent;
	font-weight: bold;
	padding: 25px 30px;
	border-radius: 30px;
	transition: .4s;
	font-size: 30px;
}
.conheca__melhor .button-two:hover{
	background-color: transparent;
	border: 2px solid #25D366;
	cursor: pointer;
}

/*---------servicos------------------*/


.servicos{
	background: #d3d3d3;
	width: 100%;
	padding: 100px 0px;
}
.titulo h2{
	color: #8d0606;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}


.card{
	height: 205px;
	width: 335px;
	padding: 20px 35px;
	background: #333;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

h5{
	margin-top: 15px;
	color: white;
	font-size: 35px;
	margin-bottom: 10px;
}

.card__1 {
	margin-top: 30px;
}

.card__2 {
	margin-top: 30px;
}
.card__3{
    margin-top: 30px;
	color: white;
	font-size: 35px;
	margin-bottom: 10px;
}

.card__4 {
	margin-top: 30px;
}

.card__5 {
	margin-top: 30px;
}

.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/*--------------Nossos serviços -------- SESSÃO */

.mais__informacoes {
border-top: 0.4px;
	
}

.mais__informacoes h2 {
	padding-top: 30px;
	color:#8d0606;
	font-size: 45px;


}

.mais__informacoes h5 {
	color:black;
	padding: 10px;
	font-size: 30px;

}

.produtos {
	margin-top: 15px;
}

.icones{
	display: flex;
	flex-direction:row-reverse;
	font-size: 100px;
	color:#8d0606;
	
}

/*----------conheca melhor ---------*/	
.conheca {
	padding-top: 45px;
}

.conheca__melhor{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	
}
.conheca__melhor p{
	color: white;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 25px;
}
.conheca__melhor .button-two{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 5px solid transparent;
	font-weight: bold;
	padding: 25px 30px;
	border-radius: 30px;
	transition: .4s;
	font-size: 30px;
}
.conheca__melhor .button-two:hover{
	background-color: transparent;
	border: 2px solid #25D366;
	cursor: pointer;
}

/*---------------------------- quem somos ------------------*/
.quem-somos__descricao {
    color: #2b2a2a;
    font-size: 1.8rem;
    font-weight: 25;
	font-family: 'Josefin Sans', sans-serif;;
}

.quem-somos__titulo {
    color: #8f0707;
    font-size: 3.1875rem;
    margin-bottom: 0,5rem;
	font-family: 'Josefin Sans', sans-serif;
}

.quem-somos {
    padding: 5rem;
    text-align: center;
	font-family: 'Josefin Sans', sans-serif;

}

.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
	color: #8d0606;
}

.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--frederico {
    background-image: url('../Criminal-completa/chefe.jpg');
}

.pessoa__imagem--carol {
    background-image: url('../Criminal-completa/carol.1.jpg');
}

.pessoa__nome {
    color: #8d0606;
    font-size: 45px;
}

/*---------------contato ---------------*/
.contato{
	width: 100%;
	height: 260px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contato p{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 35px;
}
.contato .button-two{
	background-color:#25D366;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 30px 40px;
	border-radius: 30px;
	transition: .4s; 
}
.contato .button-two:hover{
	background-color: transparent;
	border: 2px solid #25D366;
	cursor: pointer;
}


/*--------------mapa----------*/

.titulo-principal {
	text-align: center;
	color: #8d0606;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 60px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}



/*-----------------final----------------------- */
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  black;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position: absolute;
	color:white;
	bottom: 35px;
	font-size: 14px; 
}

/*-----------------final----------------------- */
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  black;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:white;
	bottom: 35px;
	font-size: 14px; 
}
